{% extends 'base.html' %}
{% block titulo %} Lista de productos {% endblock %}
{% block contenido %}
<h1 style="text-align: center; color: #333; font-family: 'Roboto', sans-serif; font-size: 36px; margin-bottom: 30px;">Productos</h1>
<style>
    body {
        background: #f9f9f9;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 1.5;
    }

    section {
        padding: 30px;
        margin: 30px auto;
        max-width: 600px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    }

    label.form-label {
        color: #555;
        font-weight: bold;
        margin-bottom: 10px;
        display: block;
    }

    input.form-control {
        width: calc(100% - 20px);
        padding: 15px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        margin-bottom: 20px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
    }

    input.form-control:focus {
        outline: none;
        box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
    }

    .col-12.help-text {
        color: #f44336;
        font-size: 14px;
        margin-top: -10px;
        margin-bottom: 20px;
    }

    input.btn {
        display: block;
        width: 100%;
        padding: 15px;
        background-color: #2ecc71;
        color: #fff;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    input.btn:hover {
        background-color: #27ae60;
    }

    input.btn:active {
        transform: translateY(2px);
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    }
</style>
<section>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for campo in formulario %}
        <div class="mb-3">
            <label for="" class="form-label">{{ campo.label }}</label>
            <input type="{{ campo.field.widget.input_type }}"
                class="form-control" 
                name="{{ campo.name }}" 
                id="" 
                aria-describedby="helpId" 
                placeholder="{{ campo.label }}">
        </div>
        <div class="col-12 help-text">{{ campo.errors }}</div>
        {% endfor %}
        <input name="" id="" class="btn btn-success" type="submit" value="Guardar información">
    </form>
</section>
{% endblock %}
